<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Shortner</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>

    <div class="shortner">
        <h2>Shortner</h2>
        <p>Encurte um URL</p>
        <span class="warn">Lorem ipsum</span>
        <form action="javascript:void(0);">
            <input type="text" placeholder="Insira o URL">
            <button>Encurtar</button>
        </form>
    </div>
    
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/main.js"></script>
</body>
</html>